{% extends "index/base.html" %} 
{% block title %}{% endblock %}
{% block content %}
<div class="container h-100 mt-5">

	{% comment %} {{ request.META.HTTP_REFERER }} {% endcomment %}
	<div class="d-flex justify-content-center h-100">
		<div class="user_card reg">
			<div class="d-flex justify-content-center">
				<h3 id="form-title">REGISTER ACCOUNT</h3>
			</div>
			<div class="d-flex justify-content-center form_container">

				<form method="POST" action="">
					{% csrf_token %}
					<div class="input-group mb-2">

						<span class="input-group-text"><i class="fas fa-key"></i></span>

						{{ form.old_password }}
					</div>
                    <div class="input-group mb-2">

						<span class="input-group-text"><i class="fas fa-key"></i></span>

						{{ form.new_password1 }}
					</div>
                    <div class="input-group mb-2">

						<span class="input-group-text"><i class="fas fa-key"></i></span>

						{{ form.new_password2 }}
					</div>
					

					<div class="d-flex justify-content-center mt-3 login_container">
						<input class="btn login_btn" type="submit" value="Update password">
					</div>
				</form>
			</div>
		  {% for e in err %}
			<span class="messages">{{ e }}</span>
			{% endfor %} 


		
		</div>
	</div>
</div>
<script>
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder = 'Old password';
	form_fields[2].placeholder = 'New Password';
	form_fields[3].placeholder = 'Repeat password';

	for (var field in form_fields) {
		form_fields[field].className += ' form-control'
	}
</script>
{% endblock %} 